.row {
  margin-left: 40px;
  margin-top: 20px;
}

.row h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
}

.row-posters {
  display: flex;
  overflow-x: scroll;
  gap: 12px;
  padding-bottom: 10px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  width: 160px;
  transition: transform 0.3s;
  border-radius: 8px;
}

.row-poster:hover {
  transform: scale(1.15);
}
